[submodule "go-mode.el"]
	path = go-mode.el
	url = https://hub.fastgit.org/dominikh/go-mode.el.git
[submodule "projectile"]
	path = projectile
	url = https://hub.fastgit.org/bbatsov/projectile.git
[submodule "emacs-neotree"]
	path = emacs-neotree
	url = https://hub.fastgit.org/jaypei/emacs-neotree.git
[submodule "slime"]
	path = slime
	url = https://hub.fastgit.org/slime/slime
[submodule "eim"]
	path = eim
	url = https://hub.fastgit.org/viogus/eim
