[submodule "go-mode"]
	path = go-mode
	url = https://github.com/dominikh/go-mode.el.git
[submodule "projectile"]
	path = projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "switch-window"]
	path = switch-window
	url = https://github.com/dimitri/switch-window.git
