[submodule "go-mode"]
	path = go-mode
	url = https://github.com/dominikh/go-mode.el.git
[submodule "projectile"]
	path = projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "emacs-neotree"]
	path = emacs-neotree
	url = https://github.com/jaypei/emacs-neotree.git
[submodule "slime"]
	path = slime
	url = https://github.com/slime/slime.git
